<div class="swiper-slide swiper-slide--main">
    <h1 class="heading">Beyond the browser</h1>
    <p class="sub-heading">From Web apps to desktop apps</p>

    {% include 'atom.html' %}

    <img src="images/logo.png" alt="Adam Lynch logo" class="logo">
</div>

<div class="swiper-slide">
    <h2 class="heading">Adam Lynch</h2>
    <ul class="bullet-points">
        <li>Head of <a href="http://www.teamwork.com/chat">Teamwork Chat</a> at <a href="http://www.teamwork.com">Teamwork</a></li>
        <li><a href="http://adamlynch.com/ked">Ked</a>, NW.js, <a href="https://github.com/nwjs/nw-builder">nw-builder</a>, <a href="https://github.com/edjafarov/node-webkit-updater">node-webkit-updater</a>, etc.</li>
        <li>Author of <a href="http://shop.oreilly.com/product/9781939902344.do"><i>Developing an Electron Edge</i></a></li>
        <li><a href="http://adamlynch.com">adamlynch.com</a>, gh: <a href="http://github.com/adam-lynch">adam-lynch</a>, tw: <a href="http://twitter.com/lynchy010">@lynchy010</a></li>
    </ul>
</div>

<div class="swiper-slide">
    <h2 class="heading">NW.js</h2>
    <img src="images/nw.png" alt="" class="large-app-icon">
</div>

<div class="swiper-slide">
    <img src="images/chromium.png" alt="Chromium diagram" class="image--full-width">
</div>

<div class="swiper-slide">
    <img src="images/nwDiagram.png" alt="NW.js diagram" class="image--full-width">
</div>

<div class="swiper-slide">
    <ol class="bullet-points list--centered">
        <li><code>npm init --yes</code></li>
        <li><code class="json">main: "index.html"</code></li>
        <li><code>npm install nw -g</code></li>
        <li><code>nw .</code></li>
    </ol>
</div>

<div class="swiper-slide">
    <img src="images/nwHelloWorld.png" alt="Hello world NW.js app" class="image--center">
</div>

<div class="swiper-slide">
    <h2 class="heading">I see you're giving a talk...</h2>
    <p><a href="https://github.com/teamwork/clippy.desktop">github.com/teamwork/clippy.desktop</a></p>
</div>

<div class="swiper-slide">
    <canvas id="packageManagersChart" width="400" height="400"></canvas>
</div>

<div class="swiper-slide swiper-slide--align-to-bottom">
    <img src="images/atomCut.png" alt="Atom screenshot" class="image--full-width">
</div>

<div class="swiper-slide">
    <h2 class="heading">Electron</h2>
    <img src="images/electron.png" alt="" class="large-app-icon">
</div>

<div class="swiper-slide">
    <ul class="app-icons list--centered">
        <li><img src="images/atom.png" alt="Atom" class="app-icon"></li>
        <li><img src="images/brave.png" alt="Brave" class="app-icon"></li>
        <li><img src="images/hyperterm.png" alt="HyperTerm" class="app-icon"></li>
        <li><img src="images/kitematic.png" alt="Kitematic" class="app-icon"></li>
        <li><img src="images/nylas.png" alt="Nylas" class="app-icon"></li>
        <li><img src="images/slack.png" alt="Slack" class="app-icon"></li>
        <li><img src="images/vscode.png" alt="Visual Studio Code" class="app-icon"></li>
    </ul>
</div>

<div class="swiper-slide">
    <img src="images/electronDiagram.png" alt="Electron diagram" class="image--full-width">
</div>

<div class="swiper-slide">
    <pre class="codeblock--small codeblock--centered"><code class="javascript">const {app, BrowserWindow} = require('electron');
let mainWindow;

app.on('ready', () => {
  mainWindow = new BrowserWindow({
    width: 500,
    height: 400
  });
  mainWindow.loadURL('file://' + __dirname + '/index.html');
});</code></pre>
</div>

<div class="swiper-slide">
    <ol class="bullet-points list--centered">
        <li><code>npm init --yes</code></li>
        <li><code>npm install electron-prebuilt --save-dev</code></li>
        <li><code>electron .</code></li>
    </ol>
</div>

<div class="swiper-slide">
    <img src="images/electronHelloWorld.png" alt="Hello world Electron app">
</div>

<div class="swiper-slide">
    <h2 class="heading">Why is Electron better?</h2>
    <ul class="bullet-points">
        <li>Separate processes</li>
        <li>Mindshare</li>
        <li>Support</li>
        <li>Stability</li>
        <li>New and improved APIs</li>
    </ul>
</div>

<div class="swiper-slide">
    <h2 class="heading">But how does it feel?</h2>
</div>

<div class="swiper-slide swiper-slide--align-to-bottom">
    <img src="images/photon.png" alt="Photon" class="image--full-width">
</div>

<div class="swiper-slide">
    <h2 class="heading">But... performance?</h2>
</div>

<div class="swiper-slide">
    <h2 class="heading">Distribution</h2>
    <ul class="bullet-points">
        <li>Platforms</li>
        <li>electron-builder</li>
        <li>electron-packager</li>
        <li>Code signing</li>
        <li>Automation</li>
    </ul>
</div>

<div class="swiper-slide">
    <h2 class="heading">Automatic updates</h2>
    <ul class="bullet-points">
        <li>Package managers</li>
        <li>autoUpdater</li>
        <li>Squirrel.Mac</li>
        <li>Squirrel.Windows</li>
        <li>Delta updates</li>
        <li>Pre-made servers</li>
    </ul>
</div>

<div class="swiper-slide">
    <h2 class="heading">Desktop versus Web</h2>
    <ul class="bullet-points">
        <li>Browser lock-in</li>
        <li>Offline-first</li>
        <li>file://</li>
        <li>A lot of asset generation</li>
        <li>Unexpected behaviour</li>
        <li>Tooling</li>
    </ul>
</div>

<div class="swiper-slide">
    <h2 class="heading">Living with a desktop app</h2>
    <ul class="bullet-points">
        <li>Release flow / mindset</li>
        <li>Quantum mechanics</li>
        <li>Strange bug reports and unexpected problems</li>
        <li>Fatal errors are fatal</li>
        <li>Analytics and bug reporting</li>
        <li>Automated testing</li>
    </ul>
</div>

<div class="swiper-slide">
    <h2 class="heading">Desktop <em>and</em> Web</h2>
    <ul class="bullet-points">
        <li>Module bundlers</li>
        <li>Redundant code</li>
        <li>Continuous delivery</li>
    </ul>
</div>

<div class="swiper-slide">
    <img src="images/developingAnElectronEdgeNarrow.jpg" alt="Developing an Electron Edge" class="book-cover">
    <p class="sub-heading"><a href="https://gum.co/MRHPZ/50percentoff">gum.co/MRHPZ/50percentoff</a></p>
</div>

<div class="swiper-slide">
</div>